<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
<<<<<<< HEAD
    <title><%=title %></title>
 <%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen' %>
 <%= stylesheet_link_tag 'blueprint/print.css',  :media => 'print' %>
=======
    <title> <%= @title %></title>
<%= render 'layouts/stylesheets'%>
>>>>>>> filling-in-layout
  </head>
 <body>
    <div class="container">
<%= render 'layouts/header' %>
      <div id="content" class="round">
        <%= yield %>
      </div>
<%= render 'layouts/footer'%>
    </div>
  </body>
</html>
